.movies-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 70px 10px;
}

.movies-card-list__cards {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 34px 20px;
}

.movies-card-list__not-found {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.88px;
}

@media (max-width: 768px) {
    .movies-card-list {
        padding: 70px 30px 10px;
    }

    .movies-card-list__cards {
        gap: 30px;
    }
}

@media (max-width: 600px) {
    .movies-card-list {
        padding: 40px 10px 10px;
    }

    .movies-card-list__cards {
        gap: 34px;
    }

    .movies-card-list__not-found {
        font-size: 18px;
        letter-spacing: -0.72px;
    }
}