/* .navigation-movies {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.46;
} */

.navigation-movies {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    z-index: 1;
}

.navigation-movies__mobile {
    height: 44px;
    width: 44px;
    display: none;
    cursor: pointer;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
}

.navigation-movies__mobile:hover {
    opacity: 0, 7
}

.navigation-movies__mobile_type_hamburger {
    background-image: url('../../../images/accountBlackSVG.svg');
    background-color: #fff;
}

.navigation-movies__mobile_type_cross {
    position: fixed;
    top: 16px;
    right: 30px;
    background-image: url('../../../images/menuClose.svg');
}

.navigation-movies__model {
    width: 72px;
}

.navigation-movies__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation-movies__link {
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.active {
    font-weight: 500;
}

.navigation-movies__account-button {
    text-decoration: none;
    width: 100px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* gap: 7px; */
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    border-radius: 40px;
    /* background: #2BE080; */
    background-color: #fff;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    background-image: url("../../../images/accountSVG.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 10.383px 10.669px;
    /* width: 100px;
    height: 32px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    border: 2px solid rgba(170, 170, 170, .2);
    border-radius: 50px;
    background-image: url(../../../images/account-btn-icon.svg);
    background-repeat: no-repeat;
    background-position: 12px center; */
}

.navigation-movies__account-button:hover {
    opacity: 0.7
}

.navigation-movies__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.hide,
.show {
    display: none;
}

@media (max-width: 768px) {
    .navigation-movies {
        height: 100vh;
        width: 520px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navigation-movies_show {
        display: flex;
    }

    .navigation-movies__mobile {
        display: block;
    }

    .navigation-movies__model {
        display: none;
    }

    .navigation-movies__links {
        margin-top: 159px;
        flex-direction: column;
        gap: 28px
    }

    .navigation-movies__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .navigation-movies__link:hover {
        opacity: 0.
    }

    .active {
        border-bottom: solid 2px #000;
        padding-bottom: 4px;
    }

    .navigation-movies__account-button {
        margin-bottom: 90px;
    }

    .show {
        display: block;
    }
}

@media (max-width: 600px) {
    .navigation-movies {
        width: 320px;
    }

    .navigation-movies__mobile {
        width: 24px;
        height: 43px;
    }

    /* .navigation-movies__mobile_type_hamburger {
        background-image: url(../../../images/hamburger-small-icon.svg);
    } */

    .navigation-movies__mobile_type_cross {
        right: 15px;
    }

    .navigation-movies__links {
        margin-top: 144px;
        gap: 24px
    }

    .navigation-movies__account-button {
        margin-bottom: 46px;
    }
}