.navigation-movies {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.46;
}

.navigation-movies__links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}

.navigation-movies__link {
    /* color: #fff; */
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.navigation-movies__link:hover {
    opacity: 0.7;
}

.active {
    font-weight: 500;
}

.navigation-movies__profile-link {
    text-decoration: none;
    width: 100px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7px;
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    border-radius: 40px;
    /* background: #2BE080; */
    background-color: #fff;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.navigation-movies__profile-link:hover {
    opacity: 0.7;
}

.navigation-movies__profile-picture {
    width: 10.383px;
    height: 10.669px;
    background-image: url("../../../images/accountSVG.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 7px 7px;
    border-radius: 50px;
    background-color: #F9F9F9;
    margin-right: 3px;
}

.menu-hamburger {
    width: 44px;
    height: 44px;
    padding: 0;
    display: none;
    position: fixed;
    top: 15px;
    right: 30px;
    border: none;
    /* background-image: url('../../../images/menuHamburger.svg'); */
    /* background-color: #073042; */
    background-image: url('../../../images/accountBlackSVG.svg');
    background-color: #fff;
    background-position: center;
    cursor: pointer;
}

.menu-hamburger_close {
    padding: 0;
    width: 22px;
    height: 22px;
    position: fixed;
    top: 22px;
    right: 22px;
    border: none;
    background-position: center;
    background-image: url('../../../images/menuClose.svg');
    cursor: pointer;
    display: block;
    z-index: 2;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .menu-hamburger {
        display: block;
    }

    .navigation-movies {
        display: none;
    }
}

@media (max-width: 600px) {
    .menu-hamburger {
        width: 40px;
        height: 43px;
        right: 14px;
    }
}