.form-buttons {
    margin-top: auto;
}

.form-buttons__submit {
    margin: 0 0 16px 0;
    width: 396px;
    height: 45px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    cursor: pointer;
}

.form-buttons__submit:hover {
    opacity: 0.7;
}

.form-buttons__links {
    text-align: center;
}

.form-buttons__span {
    margin: 0 6px 0 0;
    color: #A0A0A0;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-buttons__link {
    text-decoration: none;
    color: #3456F3;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-buttons__link:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .form-buttons__submit {
        width: 260px;
        height: 45px;
        font-size: 12px;
    }

    .form-buttons__span {
        margin: 0 7px 0 0;
        font-size: 12px;
    }

    .form-buttons__link {
        font-size: 12px;
    }
}